.slider-container {
    position: relative;
    width: 100%;
    /* width:1200px; */
    height: 600px; /* Adjust height as needed*/
    /* overflow: hidden; */
    
  } 
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* width: 1200px; */
    height: 600px;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease; /* Smooth transition */
   }
  
  .content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for better visibility */
    z-index: 1; /* Ensure text is on top of the background */
  }
  
  .navigation {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    z-index: 1;
  }
  
  .navigation button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .dots {
    display: flex;
    align-items: center;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: white;
  }

/* Responsive design */
@media (max-width: 768px) {
  .slide-content {
    bottom: 10%;
    left: 10%;
  }

  .slide-content h2 {
    font-size: 1.5rem;
  }

  .slide-content button {
    font-size: 1rem;
  }

  .navigation button {
    font-size: 18px;
  }

  .dot {
    width: 8px;
    height: 8px;
  }
}

@media (max-width: 480px) {
  .slide-content {
    bottom: 15%;
    left: 15%;
  }

  .slide-content h2 {
    font-size: 1.2rem;
  }

  .slide-content button {
    font-size: 0.8rem;
  }

  .navigation button {
    font-size: 16px;
  }

  .dot {
    width: 6px;
    height: 6px;
  }
}